tnt/solução/node-red-flows.json
[
    {
        "id": "229613a2.0ba1e4",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7710ce66.d7f35",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "tnt-iot.maratona.dev",
        "port": "30573",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "c958e7d0.433c78",
        "type": "mqtt in",
        "z": "229613a2.0ba1e4",
        "name": "",
        "topic": "tnt",
        "qos": "2",
        "datatype": "auto",
        "broker": "7710ce66.d7f35",
        "x": 90,
        "y": 160,
        "wires": [
            [
                "e4ca7f8d.80a2b"
            ]
        ]
    },
    {
        "id": "a349c7b5.bb12f8",
        "type": "debug",
        "z": "229613a2.0ba1e4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 220,
        "wires": []
    },
    {
        "id": "e4ca7f8d.80a2b",
        "type": "json",
        "z": "229613a2.0ba1e4",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 270,
        "y": 160,
        "wires": [
            [
                "f12fbd66.bac0c8"
            ]
        ]
    },
    {
        "id": "533ff8e1.8911a8",
        "type": "cloudant out",
        "z": "229613a2.0ba1e4",
        "name": "",
        "cloudant": "",
        "database": "hd-iot",
        "service": "hd-node-red-mbtc-cloudant-1599416975874-67062",
        "payonly": true,
        "operation": "insert",
        "x": 650,
        "y": 160,
        "wires": []
    },
    {
        "id": "f12fbd66.bac0c8",
        "type": "function",
        "z": "229613a2.0ba1e4",
        "name": "",
        "func": "var fetchedRows = flow.get( 'fetchedRows' ) || {};\nif ( msg.payload.row in fetchedRows ) {\n    return null;\n} else {\n    fetchedRows[msg.payload.row] = true;\n    flow.set( 'fetchedRows', fetchedRows );\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 460,
        "y": 160,
        "wires": [
            [
                "a349c7b5.bb12f8",
                "533ff8e1.8911a8"
            ]
        ]
    }
]
